* {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A {
	COLOR: #1a66b3; TEXT-DECORATION: none
}
A:hover {
	COLOR: #1a66b3; TEXT-DECORATION: underline
}
.empty_clear_left {
	CLEAR: left; OVERFLOW: hidden; HEIGHT: 0px
}
.empty_clear_right {
	CLEAR: right; OVERFLOW: hidden; HEIGHT: 0px
}
.empty_box {
	CLEAR: both; OVERFLOW: hidden; HEIGHT: 0px
}
.comm_answer INPUT {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle
}
.comm_answer EM {
	COLOR: #cc3300; FONT-STYLE: normal
}
.comm_answer .a_red28b {
	FONT-WEIGHT: bold; FONT-SIZE: 28px; COLOR: #cc3300; FONT-FAMILY: Arial
}
.comm_answer .pd {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.comm_answer .t_gray {
	COLOR: #878787
}
.comm_answer .t_gray A {
	COLOR: #878787; TEXT-DECORATION: none
}
.comm_answer .t_gray A:hover {
	COLOR: #878787; TEXT-DECORATION: underline
}
.comm_answer .price_old {
	TEXT-DECORATION: line-through
}
.comm_answer .red_bold {
	FONT-WEIGHT: bold; COLOR: #cc3300
}
.comm_answer .red_bold_2 {
	FONT-WEIGHT: bold; COLOR: #fe7100
}
.comm_answer .red_nostrong {
	COLOR: #cc3300
}
.comm_answer .yellow {
	WIDTH: 100px; COLOR: #b18850
}
.comm_answer .yellow1 {
	CLEAR: right; WIDTH: 90px; COLOR: #b18850
}
.comm_answer .text_bold {
	FONT-WEIGHT: bold
}
.comm_answer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; WIDTH: 100%; COLOR: #404040; LINE-HEIGHT: normal; PADDING-TOP: 15px
}
.comm_answer .gray_n {
	FONT-WEIGHT: normal; COLOR: #666
}
.comm_answer .font12 {
	FONT-SIZE: 12px
}
.comm_answer .total_comm {
	PADDING-BOTTOM: 10px
}
.comm_answer .comm_title {
	PADDING-RIGHT: 10px; BORDER-TOP: #88aac6 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; PADDING-TOP: 7px; HEIGHT: 20px; BACKGROUND-COLOR: #d5e5f4
}
.comm_answer .comm_title H2 {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; FLOAT: left
}
.comm_answer .red_norm {
	FONT-WEIGHT: normal; COLOR: #c30
}
.comm_answer .look_comm {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN-LEFT: 7px
}
.comm_answer .total_body {
	BORDER-TOP: #d2cab5 1px solid; MARGIN-TOP: 1px; LINE-HEIGHT: normal; PADDING-TOP: 13px; BORDER-BOTTOM: #d2cab5 1px solid; HEIGHT: 50px; BACKGROUND-COLOR: #fff8e5
}
.comm_answer .people_average {
	PADDING-LEFT: 35px; FLOAT: left; WIDTH: 160px; HEIGHT: 50px
}
.comm_answer .average_left {
	FONT-SIZE: 14px; FLOAT: left; WIDTH: 148px; HEIGHT: 50px
}
.comm_answer .average_left P {
	PADDING-LEFT: 18px; FONT-SIZE: 12px; OVERFLOW: hidden; HEIGHT: 12px
}
.comm_answer .people_average IMG {
	MARGIN-RIGHT: 2px
}
.comm_answer .span_jt {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden; WIDTH: 12px; PADDING-TOP: 12px; HEIGHT: 12px
}
.comm_answer .people_heart {
	PADDING-LEFT: 40px; FLOAT: left; PADDING-TOP: 12px; HEIGHT: 18px
}
.comm_answer .people_read {
	PADDING-LEFT: 40px; FLOAT: left; PADDING-TOP: 12px; HEIGHT: 15px
}
.comm_answer .write_comm {
	FLOAT: right; MARGIN: 7px 30px 0px 0px; WIDTH: 120px; HEIGHT: 40px; TEXT-ALIGN: center
}
.comm_answer .red_space {
	MARGIN: 0px 2px; COLOR: #c30
}
.comm_answer .button_down1 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/button_down1.gif) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 15px; CURSOR: pointer; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px
}
.comm_answer .button_down2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/button_down2.gif) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 15px; CURSOR: pointer; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px
}
.comm_answer .comm_list {
	BORDER-RIGHT: #b6c6d3 1px solid; BORDER-TOP: #b6c6d3 1px solid; MARGIN: auto auto 11px; OVERFLOW: hidden; BORDER-LEFT: #b6c6d3 1px solid; WIDTH: 749px; WORD-BREAK: break-all; BORDER-BOTTOM: #b6c6d3 1px solid; WORD-WRAP: break-word
}
.comm_answer .comm_list_bg {
	MARGIN: 1px; WIDTH: 747px; BACKGROUND-COLOR: #e8f4ff
}
.comm_answer .buyer {
	FLOAT: left; MARGIN: 0px; WIDTH: 130px
}
.comm_answer .buyer_pic {
	MARGIN: 11px 5px 8px 10px; WIDTH: 114px; HEIGHT: 59px
}
.comm_answer .buyer_pic_bg {
	PADDING-LEFT: 3px; BACKGROUND: url(../images/user_bg.gif) no-repeat right top; FLOAT: left; WIDTH: 56px; HEIGHT: 59px
}
.comm_answer .buyer_pic_bg IMG {
	MARGIN: 4px; WIDTH: 48px; HEIGHT: 48px
}
.comm_answer .buyer_city {
	COLOR: #878787; PADDING-TOP: 2px
}
.comm_answer .buyer_num {
	MARGIN-TOP: 10px; FONT-SIZE: 10px; FLOAT: left; MARGIN-LEFT: 7px; COLOR: #878787; FONT-FAMILY: Arial
}
.comm_answer .buyer_num A {
	COLOR: #878787
}
.buyer_num A:hover {
	COLOR: #878787
}
.comm_answer .buyer_num01 IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 6px
}
.comm_answer .buyer_num02 IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 4px
}
.comm_answer .buyer_num01 {
	MARGIN-TOP: 10px
}
.comm_answer .buyer_num02 {
	MARGIN-TOP: 9px
}
.comm_answer .buyer P {
	PADDING-LEFT: 7px; MARGIN: 0px 10px
}
.comm_answer .buyer_cheer {
	BACKGROUND: url(../images/bg_user_line.gif) repeat-x 0px 0px; MARGIN: 5px 10px 0px; COLOR: #404040; PADDING-TOP: 10px
}
.comm_answer .buyer_cheer P {
	MARGIN: 0px; LINE-HEIGHT: 18px
}
.comm_answer .special_pic {
	MARGIN: 2px 0px 7px 8px
}
.comm_answer .buyer .buyer_comm P {
	OVERFLOW: hidden; WORD-BREAK: break-all; PADDING-TOP: 7px; WORD-WRAP: break-word
}
.comm_answer .buyer_comm {
	FLOAT: left; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; WIDTH: 616px; BACKGROUND-COLOR: #fff
}
.comm_answer .buyer_comm .center_topbg {
	MARGIN: 9px 20px 0px
}
.comm_answer .title_time {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 0px; HEIGHT: 18px
}
.comm_answer .title_time .label_p {
	FLOAT: left
}
.comm_answer .title_time .label_p IMG {
	MARGIN-RIGHT: 5px
}
.comm_answer .title_time H3 {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; FLOAT: left; WIDTH: 400px; PADDING-TOP: 3px
}
.comm_answer .title_time H3 A {
	COLOR: #404040
}
.comm_answer .title_time H3 A:hover {
	COLOR: #404040
}
.comm_answer .comm_result {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; COLOR: #8b8b8b; PADDING-TOP: 0px
}
.comm_answer .comm_result SPAN {
	DISPLAY: block; FLOAT: left; PADDING-TOP: 4px
}
.comm_answer .comm_result IMG {
	MARGIN-TOP: 3px; FLOAT: left
}
.comm_answer .comm_result .span_space {
	PADDING-LEFT: 12px! important
}
.comm_answer .comm_result .span_star {
	PADDING-RIGHT: 12px! important; PADDING-LEFT: 12px! important; PADDING-TOP: 0px
}
.comm_answer .comm_result .star_mod {
	PADDING-RIGHT: 12px! important; PADDING-LEFT: 6px! important; PADDING-TOP: 0px
}
.comm_answer .buyer_comm .center_border {
	PADDING-RIGHT: 6px; PADDING-LEFT: 12px; MIN-HEIGHT: 70px; BACKGROUND: url(../images/xuxian_x.gif) repeat-x 50% top; PADDING-BOTTOM: 8px; MARGIN-LEFT: 8px; WIDTH: 580px; LINE-HEIGHT: 20px; PADDING-TOP: 3px; HEIGHT: 70px
}
DIV[class].comm_answer .center_border {
	HEIGHT: auto
}
.comm_answer .appear_time {
	COLOR: #878787; HEIGHT: 25px
}
.mode_time {
	FONT-SIZE: 12px; COLOR: #878787; FONT-FAMILY: Arial
}
.comm_answer .reading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 21px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px; HEIGHT: 20px; BACKGROUND-COLOR: #efefef
}
.comm_answer .reading .reply {
	FLOAT: left; PADDING-TOP: 4px! important
}
.comm_answer .reading .good_use2 {
	PADDING-RIGHT: 3px; FLOAT: right; COLOR: #878787
}
.comm_answer .reading .good_use2 DIV {
	FLOAT: left; PADDING-TOP: 4px! important; TEXT-ALIGN: right
}
.comm_answer .reading .good_use2 IMG {
	MARGIN-TOP: 2px; FLOAT: left; MARGIN-LEFT: 3px; MARGIN-RIGHT: 5px
}
.comm_answer .reading .good_use2 INPUT {
	MARGIN-TOP: 2px; FLOAT: left; MARGIN-LEFT: 3px; MARGIN-RIGHT: 5px
}
.comm_answer .buyer_comm .already {
	CLEAR: both; PADDING-RIGHT: 7px; COLOR: #cc3300; HEIGHT: 14px; TEXT-ALIGN: right
}
.comm_answer .no_comm {
	PADDING-LEFT: 40px; FONT-SIZE: 14px; FLOAT: left; WIDTH: 200px; LINE-HEIGHT: 50px; HEIGHT: 50px
}
.comm_answer .look_all {
	HEIGHT: 50px; TEXT-ALIGN: right
}
.comm_answer .look_all .ff {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px
}
.comm_answer .merch_answer {
	PADDING-RIGHT: 10px; BORDER-TOP: #b4a57a 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 7px; HEIGHT: 20px; BACKGROUND-COLOR: #fff1cc
}
.comm_answer .answer_list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BORDER-BOTTOM: #b0b0b0 1px solid
}
.comm_answer .list_title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 18px
}
.comm_answer .list_title .label_m {
	FLOAT: left
}
.comm_answer .list_title H3 {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bolder; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 410px; PADDING-TOP: 2px; HEIGHT: 13px
}
.comm_answer .list_title H3 A {
	COLOR: #404040
}
.comm_answer .list_title H3 A:hover {
	COLOR: #404040
}
.comm_answer .list_title .date {
	FLOAT: left; WIDTH: 250px; COLOR: #9b9b9b; PADDING-TOP: 2px; TEXT-ALIGN: right
}
.comm_answer .answer_content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 71px; PADDING-BOTTOM: 7px; LINE-HEIGHT: 18px; PADDING-TOP: 7px
}
.comm_answer .a_message {
	PADDING-RIGHT: 5px; PADDING-LEFT: 71px; PADDING-BOTTOM: 7px; PADDING-TOP: 7px; BACKGROUND-COLOR: #f2f2f2
}
.comm_answer .a_message H3 {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px
}
.comm_answer .a_message .content {
	LINE-HEIGHT: 18px; PADDING-TOP: 6px
}
.comm_answer .answer_all {
	PADDING-RIGHT: 12px; COLOR: #9b9b9b; PADDING-TOP: 15px; TEXT-ALIGN: right
}
.comm_answer .r_ask {
	COLOR: #9b9b9b; PADDING-TOP: 8px; TEXT-ALIGN: right
}
.comm_answer .back_top {
	PADDING-TOP: 20px; TEXT-ALIGN: right
}
.window_star {
	BORDER-RIGHT: #cacaca 1px solid; BORDER-TOP: #cacaca 1px solid; DISPLAY: none; BACKGROUND: url(../images/w_body_bg.gif) #fff repeat-x 50% bottom; BORDER-LEFT: #cacaca 1px solid; WIDTH: 270px; COLOR: #404040; BORDER-BOTTOM: #cacaca 1px solid; POSITION: absolute; HEIGHT: 140px
}
.window_star H2 {
	PADDING-LEFT: 13px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: url(../images/w_title_bg.gif) repeat-x; LINE-HEIGHT: 23px; BORDER-BOTTOM: #cacaca 1px solid
}
.window_star .window_close {
	FLOAT: right; MARGIN: 4px
}
.window_star UL {
	MARGIN: 12px 0px 0px 12px; WIDTH: 258px; LIST-STYLE-TYPE: none
}
.window_star LI {
	LINE-HEIGHT: 19px
}
.window_star .star_line {
	FLOAT: left
}
.window_star .star_line IMG {
	MARGIN-RIGHT: 1px
}
.energy_line {
	BORDER-RIGHT: #ababab 1px solid; BORDER-TOP: #ababab 1px solid; FLOAT: left; MARGIN: 0px 6px; BORDER-LEFT: #ababab 1px solid; WIDTH: 120px; BORDER-BOTTOM: #ababab 1px solid; HEIGHT: 12px; BACKGROUND-COLOR: #fff
}
.energy_line IMG {
	HEIGHT: 12px
}
.w_master {
	BORDER-RIGHT: #8c8c8c 1px solid; BORDER-TOP: #8c8c8c 1px solid; DISPLAY: none; BORDER-LEFT: #8c8c8c 1px solid; WIDTH: 122px; COLOR: #404040; BORDER-BOTTOM: #8c8c8c 1px solid; POSITION: absolute; BACKGROUND-COLOR: #fff
}
.w_master .m_left {
	FLOAT: left; WIDTH: 106px
}
.m_left UL {
	MARGIN-TOP: 10px; LIST-STYLE-TYPE: none
}
.m_left LI {
	DISPLAY: block; HEIGHT: 22px
}
.m_left LI SPAN {
	DISPLAY: block; FLOAT: left
}
.m_left LI .number {
	MARGIN-LEFT: 0px; WIDTH: 36px; COLOR: #cc3300; TEXT-ALIGN: right
}
.m_left .l_b {
	MARGIN-BOTTOM: 0px
}
.w_master INPUT {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: 3px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 15px; CURSOR: hand; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px
}
.button_up1 {
	BACKGROUND: url(../images/button_down1.gif) no-repeat
}
.button_up2 {
	BACKGROUND: url(../images/button_down2.gif) no-repeat
}
.comm_window .b_add {
	WIDTH: 151px
}
.window_txt {
	BORDER-RIGHT: #b3a171 1px solid; BORDER-TOP: #b3a171 1px solid; DISPLAY: none; BORDER-LEFT: #b3a171 1px solid; WIDTH: 233px; COLOR: #404040; BORDER-BOTTOM: #b3a171 1px solid; POSITION: absolute; BACKGROUND-COLOR: #fff
}
.window_txt_bg {
	BORDER-RIGHT: #f8ebc9 3px solid; BORDER-TOP: #f8ebc9 3px solid; BORDER-LEFT: #f8ebc9 3px solid; BORDER-BOTTOM: #f8ebc9 3px solid
}
.window_txt UL {
	PADDING-RIGHT: 5px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 221px; PADDING-TOP: 6px; LIST-STYLE-TYPE: none
}
.window_txt LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; BACKGROUND: url(../images/icon_dot.gif) no-repeat 0px 6px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 18px; PADDING-TOP: 0px
}
.window_txt .listline {
	PADDING-BOTTOM: 0px! important
}
.window_txt .txt_more {
	PADDING-LEFT: 17px
}
.window_bot_close {
	MARGIN: 0px 3px 3px 0px; TEXT-ALIGN: right
}
.mask_problom {
	BORDER-RIGHT: #dbcfad 1px solid; BORDER-TOP: #dbcfad 1px solid; MARGIN: 8px 0px 0px; BORDER-LEFT: #dbcfad 1px solid; BORDER-BOTTOM: #dbcfad 1px solid
}
.mask_other {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 48px; BACKGROUND: #efefef; PADDING-BOTTOM: 0px; MARGIN: 17px 0px 0px; BORDER-LEFT: #fff 1px solid; COLOR: #404040; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 24px
}
.mask_man {
	PADDING-RIGHT: 40px; PADDING-LEFT: 40px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 653px; PADDING-TOP: 0px; BORDER-BOTTOM: #a6a6a6 1px dotted; HEIGHT: 38px
}
.mask_text {
	MARGIN: 12px 45px 6px 50px; OVERFLOW: hidden; LINE-HEIGHT: 20px; WORD-WRAP: break-word
}
.mask_user_header {
	BORDER-RIGHT: #8b8b8b 1px solid; BORDER-TOP: #8b8b8b 1px solid; FLOAT: left; MARGIN: 7px 0px 0px; BORDER-LEFT: #8b8b8b 1px solid; WIDTH: 23px; BORDER-BOTTOM: #8b8b8b 1px solid; HEIGHT: 23px
}
.mask_user_header IMG {
	MARGIN: 1px 0px 0px 1px
}
.mask_user_text {
	FLOAT: left; MARGIN: 0px 0px 0px 9px; COLOR: #666; LINE-HEIGHT: 40px; HEIGHT: 38px
}
.mask_user_data {
	PADDING-RIGHT: 2px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 140px; COLOR: #878787; LINE-HEIGHT: 40px; PADDING-TOP: 0px; HEIGHT: 38px; TEXT-ALIGN: right
}
.mask_reask {
	HEIGHT: 38px
}
.gray_40 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #404040
}
.dp_ask_user {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right; COLOR: #878787
}
.gray_40_b {
	FONT-WEIGHT: bold; COLOR: #404040
}
.gray_40_b A {
	FONT-WEIGHT: bold; COLOR: #404040
}
.gray_40_b A:hover {
	FONT-WEIGHT: bold; COLOR: #404040
}
.gray_87 {
	COLOR: #878787
}
.gray_87 A {
	COLOR: #878787
}
gray_87 A:hover {
	COLOR: #878787
}
.dp_reask {
	BORDER-RIGHT: #c9c9c9 1px solid; BORDER-TOP: #c9c9c9 1px solid; BACKGROUND: #fff; MARGIN: 0px 0px 0px 73px; BORDER-LEFT: #c9c9c9 1px solid; WIDTH: 637px; BORDER-BOTTOM: #c9c9c9 1px solid
}
.dp_reask_frame {
	PADDING-RIGHT: 7px; PADDING-LEFT: 15px; BACKGROUND: #f3f3f3; PADDING-BOTTOM: 10px; MARGIN: 1px; PADDING-TOP: 8px
}
.list_content {
	OVERFLOW: hidden; WORD-BREAK: break-all; LINE-HEIGHT: 20px; WORD-WRAP: break-word
}
.dp_reask_top {
	LEFT: 110px; POSITION: relative; TOP: 2px
}
.dp_reask_end {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 43px; PADDING-TOP: 0px; HEIGHT: 30px; TEXT-ALIGN: right
}
.blue14_b {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #1a66b3
}
.blue14_b A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #1a66b3
}
.blue14_b A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #1a66b3
}
.dp_reask_end1 {
	PADDING-RIGHT: 150px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 43px; PADDING-TOP: 0px; HEIGHT: 30px; TEXT-ALIGN: right
}
.dp_reask_end {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 10px; HEIGHT: 30px; TEXT-ALIGN: right
}
.button_submi {
	FONT-SIZE: 14px; WIDTH: 100px; LINE-HEIGHT: 21px; HEIGHT: 26px
}
.dp_noask {
	PADDING-RIGHT: 20px; BORDER-TOP: #cfcfcf 1px solid; PADDING-LEFT: 20px; BACKGROUND: #f2f2f3; PADDING-BOTTOM: 10px; PADDING-TOP: 15px; BORDER-BOTTOM: #cfcfcf 1px solid
}
.dp_noask_text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 43px; PADDING-TOP: 0px; HEIGHT: 30px
}
.window_userinfo_bg UL LI IMG {
	FLOAT: left; MARGIN: 1px 3px 0px 0px
}
.window_userinfo_line {
	BACKGROUND: #eee; MARGIN: 8px 0px 9px; OVERFLOW: hidden; LINE-HEIGHT: 1px; HEIGHT: 1px
}
.window_userinfo_special {
	
}
.window_userinfo_special IMG {
	DISPLAY: block; MARGIN-BOTTOM: 10px
}
.window_userinfo_footer {
	BACKGROUND: url(../images/window_shadow_bottom.png) repeat-x; MARGIN-LEFT: 2px; OVERFLOW: hidden; WIDTH: 250px; LINE-HEIGHT: 2px; HEIGHT: 2px
}
.btn_s {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/submit_button50x20.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 50px; COLOR: #404040; LINE-HEIGHT: 20px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.btn_s_mo {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/submit_button_mo50x20.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 50px; COLOR: #404040; LINE-HEIGHT: 20px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.btn_m {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/submit_button63x20.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 63px; COLOR: #404040; LINE-HEIGHT: 20px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.btn_m_mo {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/submit_button_mo63x20.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 63px; COLOR: #404040; LINE-HEIGHT: 20px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.btn_l {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/submit_button100x20.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 100px; COLOR: #404040; LINE-HEIGHT: 20px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.btn_l_mo {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/submit_button_mo100x20.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 100px; COLOR: #404040; LINE-HEIGHT: 20px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.btn_ns {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/usability_button31x15.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 31px; COLOR: #404040; LINE-HEIGHT: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 0px
}
.btn_ns_mo {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/usability_button_mo31x15.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 31px; COLOR: #404040; LINE-HEIGHT: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 0px
}
.btn_nm {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/submit_button57x15.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 57px; COLOR: #404040; LINE-HEIGHT: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 0px
}
.btn_nm_mo {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/submit_button_mo57x15.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 57px; COLOR: #404040; LINE-HEIGHT: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 0px
}
